[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
jupyter = "*"
jupyter_contrib_nbextensions = "*"

[packages]
notion = "*"
python-dotenv = "*"
click = "*"

[requires]
python_version = "3.7"
