-i https://pypi.org/simple
appdirs==1.4.4
appnope==0.1.0; sys_platform == 'darwin' and platform_system == 'Darwin'
attrs==19.3.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
backcall==0.2.0
beautifulsoup4==4.9.1
black==19.10b0
bleach==3.1.5; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4'
bs4==0.0.1
cached-property==1.5.1
certifi==2020.6.20
cfgv==3.1.0; python_full_version >= '3.6.1'
chardet==3.0.4
click==7.1.2
colorama==0.4.3; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4'
commonmark==0.9.1
decorator==4.4.2
defusedxml==0.6.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4'
dictdiffer==0.8.1
distlib==0.3.1
docutils==0.16; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4'
entrypoints==0.3; python_version >= '2.7'
filelock==3.0.12
flake8==3.8.3
identify==1.4.23; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
idna==2.10; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
ipykernel==5.3.2; python_version >= '3.5'
ipython-genutils==0.2.0
ipython==7.16.1; python_version >= '3.3'
ipywidgets==7.5.1
jedi==0.17.1; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4'
jinja2==2.11.2
jsonschema==3.2.0
jupyter-client==6.1.5; python_version >= '3.5'
jupyter-console==6.1.0; python_version >= '3.5'
jupyter-contrib-core==0.3.3
jupyter-contrib-nbextensions==0.5.1
jupyter-core==4.6.3; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4'
jupyter-highlight-selected-word==0.2.0
jupyter-latex-envs==1.4.6
jupyter-nbextensions-configurator==0.4.1
jupyter==1.0.0
keyring==21.2.1; python_version >= '3.6'
lxml==4.5.2; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4'
markupsafe==1.1.1; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
mccabe==0.6.1
mistune==0.8.4
nbconvert==5.6.1
nbexec==0.1.0
nbformat==5.0.7
nodeenv==1.4.0
notebook==6.0.3; python_version >= '3.5'
notion==0.0.25
packaging==20.4; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
pandocfilters==1.4.2
parso==0.7.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
pathspec==0.8.0
pexpect==4.8.0; sys_platform != 'win32'
pickleshare==0.7.5
pkginfo==1.5.0.1
pre-commit==2.6.0
prometheus-client==0.8.0
prompt-toolkit==3.0.5; python_full_version >= '3.6.1'
ptyprocess==0.6.0; os_name != 'nt'
pycodestyle==2.6.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
pyflakes==2.2.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
pygments==2.6.1; python_version >= '3.5'
pyparsing==2.4.7; python_version >= '2.6' and python_version not in '3.0, 3.1, 3.2, 3.3'
pyrsistent==0.16.0
python-dateutil==2.8.1; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
python-dotenv==0.14.0
python-slugify==4.0.1
pytz==2020.1
pyyaml==5.3.1
pyzmq==19.0.1; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
qtconsole==4.7.5
qtpy==1.9.0
readme-renderer==26.0
regex==2020.6.8
requests-toolbelt==0.9.1
requests==2.24.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4'
rfc3986==1.4.0
send2trash==1.5.0
six==1.15.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
soupsieve==2.0.1; python_version >= '3.5'
terminado==0.8.3; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
testpath==0.4.4
text-unidecode==1.3
toml==0.10.1
tornado==6.0.4; python_version >= '3.5'
tqdm==4.47.0; python_version >= '2.6' and python_version not in '3.0, 3.1, 3.2, 3.3'
traitlets==4.3.3
twine==3.2.0
typed-ast==1.4.1
tzlocal==2.1
urllib3==1.25.9; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4' and python_version < '4'
virtualenv==20.0.26; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
wcwidth==0.2.5
webencodings==0.5.1
widgetsnbextension==3.5.1
