name: Homebrew

on: 
  push:
    tags:
      - 'v*'

jobs:
  install-and-run:
    name: "brew install and test"
    runs-on: macos-latest
    steps:

    - name: Install Notoma
      id: install
      run: brew install xnutsive/notoma/notoma

    - name: Verify version
      id: version
      run: |
        NOTOMA_VERSION=$(notoma version)
        echo "::set-output name=version::$NOTOMA_VERSION"

    - name: Extract git tag
      id: git-tag
      run: |
        echo "::set-output name=version::${GITHUB_REF#refs/tags/v}"

    - name: Verify versions are equal
      id: verify
      run: |
        echo "brew version: " ${{steps.version.ouputs.version}}
        echo "tag: " ${{steps.git-tag.outputs.version}}
